<div id="header">
    <div id="titles">
        <h1>VolCoin</h1>
        <h3>VolCoin, Crypto-Free Crypto Currency </br> for the University of Tennesee, Knoxville</h3>
    </div>
    <div id="navbar" class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/transfer">Transfer</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" href="/profile">Profile</a></li>
        </ul>
    </div>
</div>
